/* About.js */
.aboutHead {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    padding: 0px 100px;
    background-color:#667e94; 
}
.aboutHeadText {
    color: #fff;
    margin: 0px 30px;
    text-align: center;
    font-size: 20px;
    font-family: 'Source Sans 3', sans-serif;
}
.blueWords {
    color: #667e94;
}
.lightBlueWords {
    color: #c1cbd4;
}
.aboutHeadName {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    font-family: 'Oswald', sans-serif;
}
.aboutHeadPar {
    text-align: center;
    font-size: 20px;
    font-family: 'Source Sans 3', sans-serif;
}
.aboutDescriptPar {
    display: flex;
    justify-content: space-around;
    margin: 0px 400px;
    color: #667e94;
    margin-bottom: 50px;
}
.lines {
    border-left: 1px solid rgb(196, 194, 202);
    height: 60px;
    padding-right: 50px;
    padding-left: 15px;
    color: #667e94;
    }
.parallax {
    background-image: url("https://images.unsplash.com/photo-1613977257363-707ba9348227?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
.aboutLocation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    padding: 0px 300px;
    background-color:#667e94;
    font-weight: bolder;
}
.aboutBlockPhotoRooms {
    display: flex;
    justify-content: center;
    margin: 70px 200px;
}
.aboutImageRoom {
    padding: 5px;
    border-radius: 40px;
}
.aboutFiveBoxes {
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
}
.aboutBox {
display: flex;
align-items: center;
width: 150px;
height: 170px;
padding: 0px 20px;
font-weight: bolder;
font-size: 20px;
font-family: 'Source Sans 3', sans-serif;
background-color: #f6f7f9;
text-align: center;
}
.darkBox {
background-color: #0c3f55;
color: #fff;
}
    /* Slides.js */
.slidesContainer {
    display: flex;
    justify-content: space-around;
    margin: 50px 100px 50px;
}
.parContainerSlides {    
margin-left: 50px;
align-self: center;
width: 250px;
}
.investContainerSlides {
    margin: 0px 150px;
}
.btnSlides {
    border: none;
    background-color: #fff;
}
/* Price.js */
.priceBox {
    background-color: #607990;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.priceItem {
    width: 120px;
    margin: 20px;
    text-align: center;
}
.priceNumber {
    font-size: 30px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    
}
.priceText {
    font-size: 17px;
    color: #fff;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bolder;
}
.priceButton {
    display: flex;
    justify-content: center;
}
.priceBtn {
    background-color: #9eafbf; 
    border: none;
    border-radius: 50px;
    padding: 20px 90px;
    margin: 50px 30px 30px;
    color: #fff;
    font-weight: bolder;
}
.priceBtn:hover {
    background-color: #607990;
}  

.priceImage {
    display: flex;
    justify-content: center;
}

/* Video/js*/
#myVideo{
    width:100%;
}
body{
    margin:0;
}
.above{
    color: white;
    font-family: 'Oswald', sans-serif;

}
.video{
    position: absolute;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.first{
    font-size: 30px;
}
.second{
    font-size: 50px;
}
/*Menu.js*/
.nav{
    display: flex;
    background-color: #667e94;
    justify-content: center;
    padding: 10px;
}
.item{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    font-size: 20px;
}
.serf{
    background-image: url("serf.png");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
    font-family: 'Source Sans 3', sans-serif;
    height: 250px;
}
.message{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 60px;
}
.feedbackName{
    color:white;
    font-size: 40px;
}
.feedbackText{
    color:white;
    font-size: 20px;
    width: 300px;
}
.sbm{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 15px;
}

.feedbackAll{
    margin-right: 100px;
    margin-left: 100px;
}
.thanks{
    color: white;
    margin-top: 120px;
}
/* Information.js */
.parallaxTwo {
    background-image: url("https://images.unsplash.com/photo-1581974206939-b42731ea9dc9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    }
.infoContainer {
    display: flex;
    justify-content: center;
}
.infoBoxLeft {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 30%;
    text-align: center;
    margin-top: 30px;
    margin-right: 50px;
}
.infoBoxRight {
    width: 30%;
    margin-top: 30px;
    margin-left: 50px;
}
.infoHead {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
}
.infoPar {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}
li {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}
.endBackgroung{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #16293b;
}
.signature{
    color:white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 15px;
}